h1 {
    font-size: 6em;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    background-color: lightcoral;
}

.inputs{
    display: flex; /* os outros não funcionam sem */
    flex-direction: column;
    align-items: center;
}

input{
    width: 3em;
    height: 3em;
    font-size: 2em;
    padding: 0%;
    color:lightcoral;
    border: black solid 2px;
}