* {
    margin: 0;
}

h1 {
    font-size: 6em;
    color:indianred;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin: 50px 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 3em;
    height: 3em;
    font-size: 2em;
    padding: 0;
    font-weight: bold;
    border: purple 5px;
}

.centerdiv {
    text-align: center;
    margin: 30px;
}

.geral {
    height: calc(100vh - 170.4px - 118.4px);
}

footer {
    background-color: indianred(154, 108, 180);
    color: indianred;
    padding: 30px;
    margin: 0;
}